.personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: hsl(231, 11%, 63%);

 & .wrapper-error{
  display: flex;
  flex-direction: column;
  gap: 10px;
 }
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 1000px) {
  .personal {
    justify-content: center;
    align-items: flex-start;

    & .wrapper-error{
      display: flex;
      flex-direction: column-reverse;
      position: relative;
     }
  }
}
