.box {
    display: flex;
    margin-top: -90px;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 40px 30px;
    width: calc(100% - 50px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
    & h2 {
      color: hsl(213, 96%, 18%);
      font-size: 36px;
    }
  
    & p {
      line-height: 30px;
      font-size: 20px;
    }
  }